<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name ="URL" value ="https://opensource-demo.orangehrmlive.com/"/>
  <parameter name ="BROWSERNAME" value ="chrome"/>
    <classes>
      <class name="com.automation.tests.LoginTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
